body{
    font-family: "Roboto";
    background: #9796f0;  
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  
    background: linear-gradient(to right, #fbc7d4, #9796f0); 
}
  
h1{
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

ul{
   list-style: none; 
   margin: 0;
   padding: 0;
}

li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    box-sizing: border-box; 
    padding: 13px 13px 13px 20px;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0)
}

span{
    background: purple;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:nth-child(2n){
    background: #f7f7f7;
}

input:focus{
    background: #fff;
    border: 3px solid #2980b9;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

.fa-plus{
    float: right;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

#container{
    background: #f7f7f7;
    width: 350px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}